h1 {
  text-align: center;
  margin-bottom: 25px;
}

.chart,
.select-language {
  margin: 0 auto;
  float: none;
  padding: 0;
}

select.input-lg {
  margin: 0 0 15px;
  padding: 0;
}

.ct-chart .ct-label {
  font-size: 22px;
}

.glyphicon-refresh{
  font-size: 50px;
  top: 198px;
  left: 50%;
  margin-left: -25px;
  z-index: 1;

  /*animation-name*/
  -webkit-animation-name:spin;
     -moz-animation-name:spin;
      -ms-animation-name:spin;
       -o-animation-name:spin;
          animation-name:spin;
  /*animation-duration*/
  -webkit-animation-duration:1000ms;
     -moz-animation-duration:1000ms;
      -ms-animation-duration:1000ms;
       -o-animation-duration:1000ms;
          animation-duration:1000ms;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-timing-function*/
  -webkit-animation-timing-function:ease;
     -moz-animation-timing-function:ease;
      -ms-animation-timing-function:ease;
       -o-animation-timing-function:ease;
          animation-timing-function:ease;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
  fill: #FCFBA5;
}

.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut) {
  fill: #E5F5C4;
}

.ct-chart .ct-series.ct-series-c .ct-slice:not(.ct-donut) {
  fill: #9472A8;
}

.ct-chart .ct-series.ct-series-d .ct-slice:not(.ct-donut) {
  fill: #B2DEB5;
}

.ct-chart .ct-series.ct-series-e .ct-slice:not(.ct-donut) {
  fill: #649698;
}

.ct-chart .ct-series.ct-series-f .ct-slice:not(.ct-donut) {
  fill: #BEA6CC;
}

.ct-chart .ct-series.ct-series-g .ct-slice:not(.ct-donut) {
  fill: #AA3C39;
}

.ct-chart .ct-series.ct-series-h .ct-slice:not(.ct-donut) {
  fill: #C883AB;
}

.ct-chart .ct-series.ct-series-i .ct-slice:not(.ct-donut) {
  fill: #AA6D39;
}

.ct-chart .ct-series.ct-series-j .ct-slice:not(.ct-donut) {
  fill: #9EC6C1;
}

.ct-chart .ct-series.ct-series-k .ct-slice:not(.ct-donut) {
  fill: #FCC9A5;
}

.ct-chart .ct-series.ct-series-l .ct-slice:not(.ct-donut) {
  fill: #FCF7A5;
}

.ct-chart .ct-series.ct-series-m .ct-slice:not(.ct-donut) {
  fill: #9A84B1;
}

.ct-chart .ct-series.ct-series-n .ct-slice:not(.ct-donut) {
  fill: #EB6334;
}

.ct-chart .ct-series.ct-series-o .ct-slice:not(.ct-donut) {
  fill: #EBD234;
}

.ct-chart .ct-series.ct-series-p .ct-slice:not(.ct-donut) {
  fill: #00D56F;
}

.ct-chart .ct-series.ct-series-r .ct-slice:not(.ct-donut) {
  fill: #4E0DD3;
}
