<!DOCTYPE html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Realtime Pie Chart</title>

        <meta name="description" content="Gráfico de Pizza recalculado em tempo real a cada inserção de dados.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/normalize.css">
    </head>
    <body>
        <form method="post">
            <select name="language">
                <option value="" selected disabled>Qual linguagem de programação você mais trabalha</option>

                <optgroup label="Populares">
                    <option value="c">C</option>
                    <option value="c#">C#</option>
                    <option value="c++">C++</option>
                    <option value="html/css">HTML/CSS</option>
                    <option value="java">Java</option>
                    <option value="javascript">JavaScript</option>
                    <option value="objective-c">Objective-C</option>
                    <option value="perl">Perl</option>
                    <option value="php">PHP</option>
                    <option value="python">Python</option>
                    <option value="ruby">Ruby</option>
                    <option value="shell">Shell</option>
                    <option value="sql">SQL</option>
                </optgroup>

                <optgroup label="Outras">
                    <option value="abap">ABAP</option>
                    <option value="actionscript">ActionScript</option>
                    <option value="ada">Ada</option>
                    <option value="arc">Arc</option>
                    <option value="apex">Apex</option>
                    <option value="asciidoc">AsciiDoc</option>
                    <option value="android">Android</option>
                    <option value="asp">ASP</option>
                    <option value="arduino">Arduino</option>
                    <option value="assembly">Assembly</option>
                    <option value="autoit">AutoIt</option>
                    <option value="blitzmax">BlitzMax</option>
                    <option value="boo">Boo</option>
                    <option value="ceylon">Ceylon</option>
                    <option value="clojure">Clojure</option>
                    <option value="coco">Coco</option>
                    <option value="coffeescript">CoffeeScript</option>
                    <option value="coldfusion">ColdFusion</option>
                    <option value="common lisp">Common Lisp</option>
                    <option value="componentpascal">Component Pascal</option>
                    <option value="css">CSS</option>
                    <option value="cuda">CUDA</option>
                    <option value="d">D</option>
                    <option value="dart">Dart</option>
                    <option value="delphi">Delphi</option>
                    <option value="duby">Duby</option>
                    <option value="dylan">Dylan</option>
                    <option value="eiffel">Eiffel</option>
                    <option value="elixir">Elixir</option>
                    <option value="emacs lisp">Emacs Lisp</option>
                    <option value="erlang">Erlang</option>
                    <option value="euphoria">Euphoria</option>
                    <option value="f#">F#</option>
                    <option value="fantom">Fantom</option>
                    <option value="forth">Forth</option>
                    <option value="fortran">Fortran</option>
                    <option value="foxpro">FoxPro</option>
                    <option value="gambas">Gambas</option>
                    <option value="go">Go</option>
                    <option value="groovy">Groovy</option>
                    <option value="hack">Hack</option>
                    <option value="haskell">Haskell</option>
                    <option value="haxe">Haxe</option>
                    <option value="igorpro">IGOR Pro</option>
                    <option value="inform">Inform</option>
                    <option value="io">Io</option>
                    <option value="julia">Julia</option>
                    <option value="labview">LabVIEW</option>
                    <option value="lasso">Lasso</option>
                    <option value="latex">LaTeX</option>
                    <option value="limbo">Limbo</option>
                    <option value="livescript">LiveScript</option>
                    <option value="lua">Lua</option>
                    <option value="lilypond">LilyPond</option>
                    <option value="m">M</option>
                    <option value="markdown">Markdown</option>
                    <option value="mathematica">Mathematica</option>
                    <option value="matlab">MATLAB</option>
                    <option value="max/msp">Max/MSP</option>
                    <option value="mercury">Mercury</option>
                    <option value="nemerle">Nemerle</option>
                    <option value="nimrod">Nimrod</option>
                    <option value="nodejs">Node.js</option>
                    <option value="nu">Nu</option>
                    <option value="object pascal">Object Pascal</option>
                    <option value="objective-j">Objective-J</option>
                    <option value="ocaml">OCaml</option>
                    <option value="occam">occam</option>
                    <option value="occam-pi">occam-π</option>
                    <option value="octave">Octave</option>
                    <option value="ooc">ooc</option>
                    <option value="other">Other</option>
                    <option value="oxygene">Oxygene</option>
                    <option value="pl/sql">PL/SQL</option>
                    <option value="powerbasic">PowerBASIC</option>
                    <option value="powershell">PowerShell</option>
                    <option value="processing">Processing</option>
                    <option value="prolog">Prolog</option>
                    <option value="puppet">Puppet</option>
                    <option value="purebasic">Pure Basic</option>
                    <option value="pure data">Pure Data</option>
                    <option value="qml">QML</option>
                    <option value="quorum">Quorum</option>
                    <option value="r">R</option>
                    <option value="racket">Racket</option>
                    <option value="realbasic">Realbasic</option>
                    <option value="restructuredtext">reStructuredText</option>
                    <option value="rust">Rust</option>
                    <option value="sass">Sass/SCSS</option>
                    <option value="scala">Scala</option>
                    <option value="scheme">Scheme</option>
                    <option value="scilab">Scilab</option>
                    <option value="sclang">sclang</option>
                    <option value="self">Self</option>
                    <option value="smalltalk">Smalltalk</option>
                    <option value="sourcepawn">SourcePawn</option>
                    <option value="standardml">Standard ML</option>
                    <option value="supercollider">SuperCollider</option>
                    <option value="swift">Swift</option>
                    <option value="tcl">Tcl</option>
                    <option value="tex">TeX</option>
                    <option value="typescript">TypeScript</option>
                    <option value="unityscript">UnityScript</option>
                    <option value="unrealscript">UnrealScript</option>
                    <option value="vala">Vala</option>
                    <option value="verilog">Verilog</option>
                    <option value="vhdl">VHDL</option>
                    <option value="viml">VimL</option>
                    <option value="visualbasic">Visual Basic</option>
                    <option value="vb.net">VB.NET</option>
                    <option value="xml">XML</option>
                    <option value="xojo">Xojo</option>
                    <option value="xpages">XPages</option>
                    <option value="xquery">XQuery</option>
                    <option value="xtend">XTend</option>
                    <option value="zsh">Z Shell</option>
                </optgroup>
            </select>

            <input type="submit" value="Enviar">
        </form>

        <script>
            window.server = '<%= server %>';
        </script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/client.js"></script>
    </body>
</html>
